---
import MainLayout from "../layouts/MainLayout.astro";
let clock = "";
---

<MainLayout title="Home Page">
  <p>Momento actual: {new Date().toLocaleString()}</p>
  <p id="current-time">Momento actual real: {clock}</p>

  <script>
    let seconds: number = new Date().getSeconds();
    let minutes: number = new Date().getMinutes();
    let hours: number = new Date().getHours();
    let clock = `${hours}:${minutes}:${seconds}`;
    setInterval(() => {
      seconds = new Date().getSeconds();
      minutes = new Date().getMinutes();
      hours = new Date().getHours();
      clock = `${hours}:${minutes}:${seconds}`;
      document.getElementById("current-time")!.innerHTML = clock;
    }, 1000);
    document.getElementById("current-time")!.innerHTML = clock;
  </script>
</MainLayout>
